<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyFilter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet03</display-name>
    <servlet-name>TestServlet03</servlet-name>
    <servlet-class>cn.itcast.servlet.TestServlet03</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>I love java-web</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet03</servlet-name>
    <url-pattern>/TestServlet03</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>cn.itcast1.servlet.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/Second/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenericServlet</display-name>
    <servlet-name>GenericServlet</servlet-name>
    <servlet-class>cn.itcast.servlet.GenericServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServlet</servlet-name>
    <url-pattern>/GenericServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet04</display-name>
    <servlet-name>TestServlet04</servlet-name>
    <servlet-class>cn.itcast.servlet.TestServlet04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet04</servlet-name>
    <url-pattern>/TestServlet04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet05</display-name>
    <servlet-name>TestServlet05</servlet-name>
    <servlet-class>cn.itcast.servlet.TestServlet05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet05</servlet-name>
    <url-pattern>/TestServlet05</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet06</display-name>
    <servlet-name>TestServlet06</servlet-name>
    <servlet-class>cn.itcast.servlet.TestServlet06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet06</servlet-name>
    <url-pattern>/TestServlet06</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.lvb.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.lvb.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BBSServlet</display-name>
    <servlet-name>BBSServlet</servlet-name>
    <servlet-class>cn.lvb.servlet.BBSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BBSServlet</servlet-name>
    <url-pattern>/BBSServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>BBSFilter</display-name>
    <filter-name>BBSFilter</filter-name>
    <filter-class>cn.lvb.filter.BBSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BBSFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
      <filter>
        <filter-name>SqlFilter</filter-name>
        <filter-class>cn.ssx.Test.SqlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SqlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>  
</web-app>